// Con este archivo reseteamos ciertas propiedas del navegador
// las cuales necesitamos con un valor más neutro

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist",Arial, Helvetica, sans-serif;
  //outline: 1px solid red;
}

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}