// Creación de diversas variables que acogen los distintos colores usados en la web

$primary-color: #00E9DF;
$primary-color-toogle-background: #00b3ad;
$secondary-color: #006662;
$boxes-color: #D2D8DE;
$boxes-color-darker: #9DA6AD;
$boxes-producto: #BEC8D1;
$button-color: #E2007F;
$button-color-darker: #8d004f;

$shadow-contenedor: 21px 24px 41px 1px rgba(0,0,0,0.38);
$shadow-input: 2px 2px 5px rgba(0,0,0,0.38);

//Colores para modo oscuro
$oscuro-primary-color: #025854;
$oscuro-primary-color-toogle-background: #00b3ad;
$oscuro-secondary-color: #00201f;
$oscuro-boxes-color: #a1a7ac;
$oscuro-boxes-color-darker: #70767a;
$oscuro-boxes-producto: #9299a0;
$oscuro-button-color: #8f0453;
$oscuro-button-color-darker: #52022f;