$primary-color: #00E9DF;
$primary-color-toogle-background: #00A19B;
$secondary-color: #006662;
$boxes-color: #D2D8DE;
$boxes-color-darker: #9DA6AD;
$boxes-producto: #BEC8D1;
$button-color: #E2007F;
$button-color-darker: #8d004f;