// Al igual que pasa con los resultados de busqueda solo hace falta algo
// de estilo para centrar todo, que ahora que me fijo podría haberlo reunido todo en un
// solo archivo pero a estas alturas ya se queda así

.contenedorLista{
    display: flex;
    flex-flow: column;
    align-items: center;
}