// Archivo que da estilo al formulario de registro, en el cual solo
// se modifica un poco el checkbox de las condiciones

.contenedorGenerico{
    &__formulario{
        // Estilo del contenedor de las condiciones
        &--condiciones{
            width: 150%;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin: 5px 0 15px;

            // Estilo del checkbox
            &--checkbox{
                width: 15px;
                transition: 0.5s;
            }

            // Estilo del texto que acompaña al checkbox
            &--texto{
                font-size: 15px;
                transition: 0.5s;

            }
        }
    }
}

// -------------------------
// Zona de media queries

@media only screen and (max-width: 450px){
    .contenedorGenerico{
        &__formulario{
            &--condiciones{
                &--checkbox{
                    width: 13px;
                }
                &--texto{
                    font-size: 13px;
                }
            }
        }
    }
}

@media only screen and (max-width: 350px){
    .contenedorGenerico{
        &__formulario{
            &--condiciones{
                width: 150%;
                &--texto{
                    font-size: 11px;
                }
            }
        }
    }
}