// Archivo que usa la página de resultado de busqueda, el cual solo
// necesita de un elemento para centrar la información ya que tanto
// al buscador como a los resultados se les da estilo en otro archivo

.contenedorBusqueda {
  display: flex;
  flex-flow: column;
  align-items: center;
}