
// En este archivo creamos los estilos que necesitamos para darle forma al contenedor que acoge a las cajas
// con las distintas series (poster y nombre) usado a la hora de mostrar los resultados de la busqueda y
// revisar la lista de guardados

.centro__busqueda{
  margin-top: 10px;
  margin-bottom: 35px;
}

.resultados{
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}