@use '../utilities/variables' as variable;

// En este archivo damos estilo de forma generica a los elementos que se encuentran
// tanto en el formulario de registro, login y contacto ya que son muy parecidos

// Estilo del contenedor
.contenedorGenerico {
    background-color: white;
    width: 80%;
    max-width: 540px;
    min-width: 200px;
    height: fit-content;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    box-shadow: variable.$shadow-contenedor;
    
    // Estilo para un pequeño mensaje en la parte superior usado en Contacto
    .contenedorGenerico__mensaje{
        width: 80%;
        text-align: center;
        margin: 7% 0 3%;
        font-size: 20px;
        transition: 0.5s;
    }

    // Estilo al contenedor que alberga los distintos elementos del formulario
    .contenedorGenerico__formulario{
        width: 50%;
        max-width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3% 0 5%;
        transition: 0.5s;

        // Estilo para los input de texto
        .contenedorGenerico__formulario--input{
            width: 100%;
            max-width: 260px;
            height: 30px;
            border: none;
            border-radius: 10px;
            background: variable.$boxes-color;
            margin: 10px 0;
            padding-left: 10px;
            transition: 0.5s;
            box-shadow: variable.$shadow-input;
            &::placeholder{
                font-size: 15px;
                opacity: 0.7;
            }
            &:focus{
                outline: 1px solid #666666;
            }
        }

        // Estilo para los elementos select
        .contenedorGenerico__formulario--select{
            width: 100%;
            max-width: 260px;
            height: 30px;
            border: none;
            border-radius: 10px;
            background: variable.$boxes-color;
            margin: 10px 0;
            padding-left: 10px;
            transition: 0.5s;
            font-size: 15px;
            box-shadow: variable.$shadow-input;
            &:focus{
                outline: 1px solid #666666;
            }
        }

        // Estilo para los labels (se esconden para mantener una estetica pero
        // se mantienen en el documento html por accesibilidad)
        .contenedorGenerico__formulario--label{
            display: none;
        }

        // Estilo para el elemento textArea
        .contenedorGenerico__formulario--textArea{
            width: 100%;
            max-width: 260px;
            height: 250px;
            border: none;
            border-radius: 10px;
            background: variable.$boxes-color;
            padding-left: 10px;
            padding-top: 10px;
            margin: 10px 0 20px 0;
            resize: none;
            transition: 0.5s;
            box-shadow: variable.$shadow-input;
            &:focus{
                outline: 1px solid #666666;
            }
        }

        // Estilo para el boton inferior usado para enviar el formulario
        .contenedorGenerico__formulario--submit{
            height: 40px;
            width: 170px;
            transition: 0.5s;
            background-color: variable.$button-color;
            border: none;
            border-radius: 50px;
            margin-bottom: 7%;
            font-size: 25px;
            color:white;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: variable.$shadow-input;
            &:hover{
                background-color: variable.$button-color-darker;
            }
        }
    }
}

// -------------------------
// Zona de media queries

@media only screen and (max-width: 600px){
    .contenedorGenerico {
        margin-top: 1vh;
        .contenedorGenerico__mensaje{
            font-size: 15px;
        }
        .contenedorGenerico__formulario{
            .contenedorGenerico__formulario--textArea{
                height: 100px;
            }
            .contenedorGenerico__formulario--submit{
                height: 30px;
                width: 130px;
                
                font-size: 20px;
            }
        }
    }
}

@media only screen and (max-width: 450px){
    .contenedorGenerico {
        .contenedorGenerico__mensaje{
            font-size: 10px;
        }
        .contenedorGenerico__formulario{
            .contenedorGenerico__formulario--input{
                width: 150%;
            }
            .contenedorGenerico__formulario--select{
                width: 150%;
            }
            .contenedorGenerico__formulario--textArea{
                height: 100px;
                width: 150%;
            }
            .contenedorGenerico__formulario--submit{
                height: 30px;
                width: 130px;
                
                font-size: 20px;
            }
        }
    }
}

@media only screen and (max-width: 350px){
    .contenedorGenerico {
        .contenedorGenerico__mensaje{
            font-size: 10px;
        }
        .contenedorGenerico__formulario{
            .contenedorGenerico__formulario--input{
                &::placeholder{                }
            }
            .contenedorGenerico__formulario--textArea{
                height: 100px;
                font-size: 10px;
            }
            .contenedorGenerico__formulario--submit{
                height: 30px;
                width: 130px;
                
                font-size: 20px;
            }
        }
    }
}