@use '../utilities/variables' as variable;

.header {
  position: sticky;
  top: 0;
  display: grid; 
  grid-template-columns: 0.5fr 1fr 0.5fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "menu titulo logo";
  height: 160px;
  width: 100%;
  z-index: 2;
  overflow-x: hidden;
  background: rgb(204,251,249);
  background: linear-gradient(180deg, rgba(204,251,249,1) 85%, rgba(0,212,255,0) 100%);

  .header__titulo{
    grid-area: titulo;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin: auto;
  }

  .header__logo{
    display: flex;
    margin: auto;
    grid-area: logo;
    
    .header__logo--imagen{
      width: 120px;
    }
  }

  .header__menu{
    grid-area: menu;
    margin: auto;
    font-size: 60px;
  }
}

@media only screen and (max-width: 800px){
  .header{
    .header__menu{

    }
    .header__titulo{
      font-size: 40px;
    }
    .header__logo{

    }
  }
}

@media only screen and (max-width: 660px){
  .header{
    .header__menu{
      font-size: 40px;
    }
    .header__titulo{
      font-size: 30px;
    }
    .header__logo{
      .header__logo--imagen{
        width: 100px;
      }
    }
  }
}

@media only screen and (max-width: 470px){
  .header{
    .header__menu{
      
    }
    .header__titulo{
      font-size: 20px;
    }
    .header__logo{
      .header__logo--imagen{
        width: 70px;
      }
    }
  }
}