@use '../utilities/variables' as variable;

.header__menu{
  cursor: pointer;
}
.contenedorMenu{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);
  z-index: 1;
  display: none;

  .contenedorMenu__menu{
    height: 300px;
    width: 350px;
    min-width: 200px;
    position: fixed;
    top: 5%;
    left: 5%;
    backdrop-filter: blur(0.8);
    background: white;
    transition: 0.5s;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "perfil perfil perfil perfil perfil perfil"
    "login login login registro registro registro"
    "inicio inicio lista lista contacto contacto";

    .contenedorMenu__menu__perfil {
      margin: 0 auto;
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      border-bottom: rgba(0,0,0,0.1) solid 1px;


      .contenedorMenu__menu__perfil--pfp{
        max-width: 100px;
        border-radius: 50px;
      }

    }

    .contenedorMenu__menu--enlace{
      max-width: 100%;
      width: 80px;
      text-decoration: none;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      transition: 0.3s;
      font-size: 1rem;
      background-color: variable.$boxes-color;
      border-radius: 20px;
      margin: 7px auto;
    }

    .contenedorMenu__menu--close{
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 25px;
      cursor: pointer;
      background-color: variable.$boxes-color-darker;
      border-radius: 10px;
    }
  }
}

.mostrar {
  display: block;
}

.perfil { grid-area: perfil; }

.login { grid-area: login;}

.registro { grid-area: registro; }

.inicio { grid-area: inicio; }

.lista { grid-area: lista; }

.contacto { grid-area: contacto; }
