@use '../utilities/variables' as variable;

// TODO Retocar los botones de busqueda

.centro {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;

    .centro__botonBusqueda {

        height: 40px;
        width: 170px;
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: variable.$button-color;
        border: 0;
        border-radius: 50px;
        font-size: 25px;
        color:white;
        font-weight: 500;
    }
}

.centro__frase{
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    max-width: 600px;
}

.centro__busqueda {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    max-width: 950px;
    margin-bottom: 35px;

    .centro__busqueda--opcion {
        border: 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 260px;
        margin-left: 10px;
        margin-right: 10px;

        label {
            font-size: 35px;
            font-weight: 600;
            text-align: center;
            display: block;
            margin-bottom: 30px;
        }

        select {
            background-color: variable.$boxes-color;
            font-size: 15px;
            width: 260px;
            height: 40px;
            border:none;
            border-radius: 10px;
            padding-left: 15px;
        }
    }
}