@use '../utilities/variables' as variable;

// Archivo donde nos encontramos el componente de busqueda usado en varias
// paginas, que esta formado por uno o varios elementos select con sus correspondientes
// labels y un boton de busqueda


// Mantenemos centrado el componente
.centro {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;

    // Se encarga de darle estilo al boton rosa que funciona como submit en la parte inferior
    .centro__inputBusqueda{
        height: 40px;
        width: 170px;
        transition: 0.5s;
        background-color: var(--button-color);
        border-radius: 50px;
        margin-bottom: 10px;
        font-size: 25px;
        color:white;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: variable.$shadow-input;
        &:hover{
            background-color: var(--button-color-darker);
        }
    }
}

// Se encarga de colocar en posición los distintos select puestos en pantalla
.centro__busqueda {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-top: 0px;
    max-width: 950px;
    margin-bottom: 20px;
    

    // Se le da estilo a los elementos select y label como un único componente
    .centro__busqueda--opcion {
        border: 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 260px;
        margin-left: 10px;
        margin-right: 10px;

        label {
            font-size: 35px;
            font-weight: 600;
            text-align: center;
            display: block;
            margin-top: 3%;
            margin-bottom: 5%;
            transition: 0.5s;
            color: var(--text);
        }

        select {
            background-color: variable.$boxes-color;
            font-size: 20px;
            width: 260px;
            height: 40px;
            border:none;
            border-radius: 10px;
            padding-left: 15px;
            transition: 0.5s;
            cursor: pointer;
            box-shadow: variable.$shadow-input;
        }
    }
}

// -------------------------
// Zona de media queries

@media only screen and (max-width: 550px){
    .centro__busqueda{
        .centro__busqueda--opcion{
            
            label{
                font-size: 25;
            }
        }
    }
}

@media only screen and (max-width: 350px){
    .centro{
        .centro__inputBusqueda{
            height: 30px;
            width: 130px;
            margin-bottom: 15px;
            font-size: 20px;
        }
    }

    .centro__busqueda{
        .centro__busqueda--opcion{
            label{
                font-size: 15;
            }
            select{
                font-size: 15px;
                height: 30px;
                width: 200px;
            }
        }
    }
}