.resultados__caja {
  position: relative;
  width: 260px;
  margin: 20px;
  border-radius: 10px;
  flex: 30%;
  display: flex;
  justify-content: center;
  transition: 0.5s;

  .resultados__caja--imagen {
    width: 260px;
    border-radius: 10px;
    margin: auto;
    transition: 0.5s;
  }

  .resultados__caja--cuadroTexto {
    width: 260px;
    height: 100px;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 15%, rgba(255, 255, 255, 0) 100%);
    transition: 0.5s;
  }

  .resultados__caja--nombreSerie {
    color: white;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 350px){
  .resultados__caja{
    width: 200px;
    .resultados__caja--imagen{
      width: 200px;
    }
    .resultados__caja--cuadroTexto{
      width: 200px;
    }
    .resultados__caja--nombreSerie{
      font-size: 20px;
    }
  }
}